<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Scraper News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/news/f1" class="sr-only">F1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news/motogp">MotoGP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news/all">All</a>
        </li>
        <div class="dropdown-divider"></div>
        <li>
          <a class="nav-link" href="/news/all/favorites">Favorites<i class="far fa-star fa-md"></i><span
              class="badge badge-light">{{favCount}}</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>