<nav class="bg-user shadow header">
  <div class="container">
    <p class="navbar-brand pt-2">Scraper News</p>
    <button class="btn bg-user float-right mt-3" id="scrape-data">Scrape</button>
  </div>
</nav>