<a class="btn btn-primary" href="/news/f1/favorites" role="button">Favorites</a>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Articles</h2>
          {{#each data}}
          <div>
            <a href={{link}}>
              <h3>{{title}}</h3>
              <h6>{{content}}</h6>
            </a>
            <button class="btn btn-primary" data-link={{link}} inputtype="submit">Add as Favorite</button>
            <hr my-3>
          </div>
          {{/each}}
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>