<div id="home">
  <div class="container">
    <h1>Index</h1>
    <a class="btn btn-primary" href="/news/f1" role="button">F1</a>
    <a class="btn btn-primary" href="/news/motogp" role="button">MotoGp</a>
    <a class="btn btn-primary" href="/news/all" role="button">All</a>
  </div>
</div>