.commented{
  color: cornflowerblue;
}

body{
  font-family: 'Bitter', serif;
  background-image: url("/images/motogp.jpg");
  background-attachment: fixed;
}

a{
  text-decoration: none !important;
}

.navbar-brand{
  font-size: 30px;
}